/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 5em;
    font-family: 'Microsoft Jhenghei';
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 120px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    line-height: 5em;
    text-transform: uppercase;
    z-index: 1;
}

nav > div {
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 2px;
}

nav > ul {
    display: flex;
}

nav > ul > li > a {
    padding: 16px;
    color: #000;
}

nav > ul > li > a > span {
    padding-bottom: 6px;
}

nav > ul > li > a:hover > span {
    border-bottom: 2px solid #5f94fc;
}

.btn {
    all: unset;
    display: inline-block;
    padding: 1em 3em;
    background: #5ca4fb;
    border-radius: 1.6em;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .2s;
}

.btn:hover {
    background: #6372ff;
}

section.normal {
    padding: 4em 6em;
    text-align: center;
}

section.normal > .title {
    margin-bottom: 2em;
    font-size: 2em;
}

section.normal > .title > span {
    border-bottom: 4px solid #5ca4fb;
}
